* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    html, body {
      height: 100%;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
      display: none;
    }

section.primeira {
  height: 100vh;
  background-color: rgba(0, 18, 43, 1);
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column; /* mantém o cabeçalho acima e os itens no centro */
}

.cabecalho {
  display: flex;
  gap: 25px; /* espaço entre as opções */
  padding: 20px;
  margin-bottom: 35px;
  margin-left: 702px;
  margin-top: 10px;
}

.itens {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
}

.imagem1 {
  margin-right: 100px;
  transform: translateY(-80px);
}

#titulo {
  font-size: 4em;
  transform: translateY(90px);

}

section.segunda {
  background-image: url(../img/funcionamento/escudo_waf.jpg);
  background-color: rgba(6, 10, 35, 1);
  color: white;
  font-size: 20px;
  padding: 60px;
   background-repeat: no-repeat;   /* impede que a imagem se repita */
  background-size: auto;          /* usa o tamanho real da imagem */
  background-position: 10px 2px;/* posiciona no topo (ajuste como quiser) */
}
.fileira{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opcao {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* linha "invisível" inicialmente */
.opcao::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* distância da linha para o texto */
  width: 0%; /* começa com 0 */
  height: 2px;
  background-color: white;
  transition: width 0.3s ease; /* animação suave */
}
.opcao:hover::after {
  width: 100%;
}
.link{
  text-decoration: none;
  color: white;
}
.subtitulo{
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.linha-vertical {
  width: 3px;
  height: 125px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 35px;
  margin-top: 30px;
}
.linha-horizontal{
  width: 500px;              /* espessura da linha */
  height: 1px;           /* altura */
  background-color: #ffffff;  /* cor da linha */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 90px;
}
#estrela{
    width: 40px;
    height: 40px;
    margin-top: -12px;
    color: white;
    margin-left: 11px;
}
#WAFW00F{
    width: 100%;
    height: auto;
}
.terceira{
    background-color: rgba(8, 12, 19, 1);
    color: white;
    font-size: 20px;
    padding: 60px;
    margin-top: -5px;
}



header{
    display:flex;
    align-items:center;
    gap:16px;
    margin-bottom:20px;
    margin-top: 60px;
}
.logo{
    width:64px;
    height:64px;
    border-radius:12px;
    background-image: linear-gradient(135deg,purple, rgb(111, 0, 255));
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
    box-shadow:0 6px 20px rgba(2,6,23,0.6)
}
.card{
    border-radius: 20px;
    border: solid 1px rgb(26, 40, 67);
    background-color: rgb(17, 28, 48);
    padding: 40px;
}
.badge{
    width: 390px;
    background-color: rgb(20, 32, 54);
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.icon{
    font-size: 28px;
    text-align: center;
}
.linux{
    background-color: rgb(30, 44, 71);
    width: 100%;
    height: 120px;
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
}

.fade {
  opacity: 0;
  transform: translateX(50px); /* começa vindo da esquerda */
  transition: opacity 1s ease, transform 0.6s ease;
}

.fade.show {
  opacity: 1;
  transform: translateX(0);
}
